# Python
backend/venv/
__pycache__/
*.pyc

# Node
frontend/node_modules/
dist/
.build/

# Env
.env
backend/.env
frontend/.env

# OS
.DS_Store

auction-secrets.yaml
EKS_deployment.md
FRONTEND-DEPLOYMENT.md
backend/k8s/README-HPA.md
frontend/.env.bk
frontend/package-lock.json
